[run]
omit =
    */__init__.py
    # omit all utilities
    arc/util/*
    # omit visualization code
    arc/viz.py
    # omit meta-analysis functionality
    arc/task_analysis.py
    # omit the launch script
    arc/run.py

[report]
exclude_lines = 
    pragma: no cover
    if TYPE_CHECKING:
    def info
    def __str__
    def __repr__
    @abstractmethod
