[run]
omit =
    */__init__.py
    # omit all ARC utilities
    arc/util/*
    # omit visualization code
    arc/viz.py
    arc/layouts.py
    # WIP functionality
    arc/contexts.py
    arc/selection.py
    arc/selector.py
    arc/task_analysis.py
    arc/transforms.py

[report]
exclude_lines = 
    pragma: no cover
    if TYPE_CHECKING:
    def info
    def plot
    def __str__
    def __repr__
    @abstractmethod
